[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
python-dotenv = "*"
pickle-mixin = "*"
Flask = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"