<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/header.css">
<link rel="stylesheet" href="/static/css/colorizer.css">
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/static/scripts/colorizer.js"></script>
<script src="/static/scripts/tabs.js"></script>
</head>
<body>

<h1 class="title">Image Colorizer</h1>
<div class="tabbar">
	<button class="tablink" onclick="openPage('Colorizer', this)" style="background:#1FB264">Colorizer</button>
	<button class="tablink" onclick="openPage('About', this)">About</button>
</div>

<div id="Colorizer" class="tabcontent">
	<div class="file-upload">
	  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
	  <div class="image-upload-wrap">
	    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
	  </div>
	  <div class="file-upload-content">
	    <img class="file-upload-image" src="#" alt="your image" />
	    <div>
	    	<button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
	     	<button type="button" onclick="colorizeImage()" class="colorize-image">Colorize <span class="image-title"> Image</span></button>
	 	</div>
	  </div>
	  <div class="file-return-content">
	    <img class="file-return-image" src="#" alt="your image" />
	  </div>
	</div>
</div>

<div id="About" class="tabcontent" style="display:none;">
	<p>Example text about the project here</p>
</div>


</body>
</html>